* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #010409;
}

.main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #010409;
}

.container {
    width: 90vw;
    height: 90vh;
    margin: 20px auto;
    background-color: #0d1117;
    border-radius: 8px;
    display: flex;
    overflow: hidden;
}

.user {
    width: 30%;
    height: 100%;
    border-right: 1px solid #21262d;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.avt-img {
    margin-top: 30px;
    width: 300px;
    height: 300px;
    background-color: #30363d;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar {
    width: 98%;
    border-radius: 50%;
}

.user .user-name {
    color: #fff;
    margin-top: 20px;
}

.token,
.search {
    margin-top: 20px;
    width: 300px;
    display: flex;
    align-items: center;
}

.token input,
.search-input {
    width: 80%;
    padding: 10px;
    background-color: #0d1117;
    color: #fff;
    border: #30363d solid 1px;
    border-radius: 8px;
    outline: none;
    font-size: 14px;
}

.token button,
.search-btn {
    width: 20%;
    padding: 10px;
    margin-left: 10px;
    background-color: #2ea043;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: #fff;
    font-size: 14px;
}

.repo-container {
    width: 70%;
    padding: 10px 50px;
    position: relative;
}

.search {
    width: 100%;
}

.search button {
    width: 10%;
    padding: 8px 0;
}

.search input {
    width: 90%;
    padding: 8px 10px;
}

.repos {
    height: 90%;
    margin-top: 20px;
    overflow: auto;
}

.repo {
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #2b81f7;
    border-top: #30363d solid 1px;
    border-bottom: #30363d solid 1px;
}

.repo .name {
    color: #2b81f7;
    cursor: pointer;
}

.repo button {
    padding: 5px 8px;
    background-color: #30363d;
    border-radius: 8px;
    border: #4a535e solid 1px;
    color: #fff;
    font-weight: 400;
    cursor: pointer;
}

.repo button:hover {
    background-color: #515b67;
    border: #8c9cb2 solid 1px;
}

.list-del-repos {
    width: 85%;
    height: 20%;
    margin-top: 30px;
    padding: 20px;
    background-color: #010409;
    color: #fff;
    border: #30363d solid 2px;
    border-radius: 8px;
    overflow: auto;
}

.list-del-repos p {
    display: inline-block;
}

.repo-del {
    padding: 3px 5px;
    margin-left: 5px;
    margin-top: 5px;
    border: #30363d solid 2px;
    border-radius: 8px;
    background-color: #091831;
    font-size: 12px;
    cursor: pointer;
}

.delete {
    width: 85%;
    margin-top: 10px;
    padding: 10px 0;
    border-radius: 8px;
    background-color: #2ea043;
    color: #fff;
    border: none;
    font-size: 14px;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: darkgrey;
}
::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}